body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}
nav{
    width: 250px;
    height: 100%;
    background-color: #45015d;
    border-top-right-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 1;
}
nav h3{
    color: #fff;
    text-align: center;
}
nav a{
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: bold;
    padding: 10px 0 10px 25px;
    transition: all 0.5s;
}
nav a:hover{
    color: #45015d;
    background: #fff;
}
main{
    padding: 80px 40px 0 360px;
}
.hamburger{
    position: fixed;
    border: none;
    background: #fff;
    width: 50px;
    height: 50px;
    box-shadow: 0 5px 10px #45015d;
    padding: 0;
    position: fixed;
    display: none;
    z-index: 2;

}
.hamburger span{
    width: 40px;
    height: 2px;
    background: #45015d;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    transition: all 0.5s;
}
.hamburger span:nth-child(1){
    top: 15px;
}
.hamburger span:nth-child(2){
    top: 50%;
    margin-top: -1px;
}
.hamburger span:nth-child(3){
    bottom: 15px;
}
._active span:nth-child(1){
    transform: rotate(-45deg);
    margin-top: 9px;
}
._active span:nth-child(2){
    opacity: 0;
}
._active span:nth-child(3){
    transform: rotate(45deg);
    margin-bottom: 8px;
}
h1{
    font-size: 64px;
    font-weight: 400;
}
h2{
    font-size: 48px;
    color: #45015d;
    font-weight: 400;
    text-align: left;
}
hr{
    height: 10px;
    background: #45015d;
    border: none;
    border-radius: 10px;
}
.showcase img{
    width: 45%;
    margin: 10px;
    border-radius: 10px;
    opacity: 0.7;
    min-width: 300px;
}
.showcase img:hover{
    opacity: 1;
    transition: 0.5s;
}
section{
    text-align: center;
}
p{
    text-align: left;
}
h3{
    text-align: left;
}
.member{
    width: 30%;
    display: inline-block;
    margin: 10px;
    min-width: 300px;
}
.member img{
    width: 100%;
    border-radius: 10px;
}
.member__info{
    background: #e7e7e7;
    border-radius: 10px;
    padding: 5px 10px;
}
.position{
    color: gray;
}
ul{
    list-style-type: none;
    border-radius: 10px;
    background: #e7e7e7;
    width: 45%;
    min-width: 300px;
    display: inline-block;
    padding: 0;
    margin: 10px;
}
li{
    border-bottom: 1px solid;
    border-color: gray;
    border-radius: 10px;
    padding: 16px 0;
}
button{
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 16px;
    outline: none;
    transition: all 0.5s;
}
.basic{
    background: #45015d;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 26px;
}
.basic-btn{
    background: #45015d;
    border:1px solid #45015d;
}
.basic-btn:hover{
    color: #45015d;
    background: transparent;
}
.pro{
    background: #ff6219;
    padding: 26px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.pro-btn{
    background:#ff6219;
    border: 1px solid #ff6219;
}
.pro-btn:hover{
    color: #ff6219;
    background: transparent;
}
input,textarea,.contact button{
    width: 95%;
    border: 1px solid #45015d;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    transition: all 0.5s;
    box-shadow: 0 2px 5px #45015d;
    margin: 5px 0 20px;
    resize: vertical;
    box-sizing: border-box;
}
input:focus,textarea{
    box-shadow: #45015db4 0 0 15px;
}
label{
    display: block;
}
form{
    text-align: left;
}
.contact button{
    background: #45015d;
    color: #fff;
}
.contact button:hover{
    background: #fff;
    color: #45015d;
}
footer{
    background: #45015d;
    color: #fff;
    padding: 50px 0 50px 25px;
    position: relative;
    z-index: 1;
    border-top-right-radius: 10px;
}